# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambiente virtuale - NON includere
venv/
env/
ENV/
.venv


.vscode/
.idea/
*.swp
*.swo

*.db
*.sqlite3

.env


# Log
*.log

# Sistema operativo
.DS_Store
Thumbs.db
